.Alert {
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: 1rem 1rem;
}

.Danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.Success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.Secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}

.Primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

